body{
    margin: 0;
    padding: 0;
   
}
  
  ::-webkit-input-placeholder { /* Chrome, Safari */
    text-transform: lowercase;
  }
  
  
  :-moz-placeholder { /* Firefox 18- */
     text-transform: lowercase; 
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     text-transform: lowercase;
  }
  
  :-ms-input-placeholder {  /* IE */
     text-transform: lowercase; 
  }
  
  #categoriaDoArtigo{
     color: red;
  }